.box{
    width: 850px;
  background: rgba(16, 16, 189, 0.87);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 400px;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  margin-top:100px;
}
.text{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.accent{
    color:rgb(239, 243, 3);
}
img{
 border: solid rgba(32, 61, 226, 0.699) 2px;
}
section{
    justify-content: center;
}
.res{
    color: cornsilk;
   text-shadow: black;
   font-size: 18px;
}
body{
    background-color:rgb(239, 243, 3);
}
label{
    font-weight: bold;
    font-size: 18px;
    color: rgb(239, 243, 3);
}
button{
    background-color: rgb(239, 243, 3);
    font-size: 18px;
    font-family: cursive;
}